doctype html
html
  head
    title= title
    block style
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/bootstrap-3.3.7/css/bootstrap.min.css')
  body
    block content
    block foot
      script(src='/javascripts/jquery-3.2.0.min.js')
    block scripts
